<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisGeneratorConfiguration">
    <option name="globalConfig">
      <GlobalConfig>
        <option name="author" value="Adtis" />
        <option name="comment" value="true" />
        <option name="domainPackage" value="" />
        <option name="entityModuleRootPath" value="" />
        <option name="examplePackage" value="" />
        <option name="examplePostfix" value="Example" />
        <option name="lombokAnnotation" value="true" />
        <option name="lombokBuilderAnnotation" value="true" />
        <option name="mapperModuleRootPath" value="" />
        <option name="mapperPackage" value="" />
        <option name="mapperPostfix" value="Mapper" />
        <option name="modelPostfix" value="Model" />
        <option name="moduleRootPath" value="$PROJECT_DIR$" />
        <option name="mysql8" value="true" />
        <option name="offsetLimit" value="true" />
        <option name="override" value="true" />
        <option name="resourcePath" value="src/main/resources" />
        <option name="sourcePath" value="src/main/java" />
        <option name="tablePrefix" value="" />
        <option name="useExample" value="true" />
        <option name="version" value="1.0.0" />
        <option name="xmlModuleRootPath" value="" />
        <option name="xmlPackage" value="mapper" />
      </GlobalConfig>
    </option>
  </component>
</project>